div.show-html-2columns {
    font-size: 0.8em;
    display: grid;
    grid-template-columns: minmax(20px, max-content) 1fr;
}
div.show-html-css-left {
    display: grid;
    grid-template-rows: auto auto;
}
div.show-html-css-top-left, 
div.show-html-css-bottom-left {
    display: grid;
}
div.show-html-no-iframe {
    border-radius: 6px;
    padding: 10px;
    border: 2px solid blue;
    background-color: white;
}
div.show-html-left {
    margin-right: 25px;
}
div.show-html-right, div.show-html-css-right {
    margin-left: 25px;
}
div.show-html-2columns pre {
    padding: 8px;
    border-width: 1px dashed red;
    border-radius: 6px;
    border-style: dashed;
    border-color: #335;
    overflow: scroll !important;
    width: 100%;
}
iframe.show-html {
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    border-radius: 6px;
    background-color: white;
}



div.external {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a.external,  a.external:hover{
    margin-bottom: 12px;
    font-size: 150%;
    border-radius: 8px;
    border: solid 0.1px rgb(61, 45, 85);
    padding: 5px;
    color: rgb(37, 110, 37);
}
a.external:hover {
    color: rgb(121, 36, 36);
}

span.lang {
    padding: 3px 5px;
    border-radius: 6px;
    display: inline-block;
    width: fit-content;
    z-index: -1;
}

span.lang.html::before {
    content: 'HTML';
}
span.lang.html {
    background-color: #c9b6e4;
}
span.lang.css::before {
    content: 'CSS';
}
span.lang.css {
    background-color: #bbe1fa;
}
span.lang.js::before {
    content: 'JavaScript';
}
span.lang.js {
    background-color: #ede59a;
}
.float-label {
    position: absolute;
    top: 2px;
    right: 2px;
}
pre.labeled {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre;
    line-height: 1.2;
    max-height: 20em;
}
div.labeled {
    display: block;
    position: relative;
}

iframe.exo {
    height: 500px;
}
span.beware {
    font-size: x-small;
}