.title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 6px;
    border-bottom: 1px solid darkgrey;
}
.normal {
    font-size: initial;
    font-weight: initial;
}

.group {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

div.bullet {
    display: flex;
    align-items: baseline;
    justify-content: flex-start ; 
}
div.bullet-sep {
    margin-bottom: 10px;
}
span.what {
    display: inline-block;
    margin-left: 20px;
}

code {
    background-color: #e8e8e8; 
    margin: 4px 8px;
    padding-left: 3px;
    padding-right: 3px;
}