/* small screens */
@media only screen and (max-width: 768px) {
    div.bullets {
        grid-template-columns: auto;
        grid-row-gap: 3px;
    }
    div.bullets-sep {
        grid-column: 1/2;
    }
}

/* larger */
@media only screen and (min-width: 768px) {
    div.bullets {
        grid-template-columns: auto auto;
        grid-row-gap: 4px;
    }
    div.bullets-sep {
        grid-column: 1/3;
    }
    code.code {
        text-align: right;
    }
}


.group {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 6px;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 3px;
}
.normal {
    font-size: initial;
    font-weight: initial;
}


.bullets {
    display: grid;
    align-items: baseline;
}
.bullets-sep {
    margin-bottom: 12px;
}

span.what {
    display: inline-block;
    margin-left: 20px;
}

code.code {
    background-color: #e8e8e8; 
    margin: 4px 8px;
    padding: 4px 8px;
}
