/* this goes with my global default setting
 * that has rise use reveal's theme sky
 */
.reveal {
    font-family: "Quicksand", sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: initial;   /* sky.css says uppercase */
    letter-spacing: initial ;  /* sky.css says -0.08em */
}

body.rise-enabled .reveal ol, body.rise-enabled .reveal dl, body.rise-enabled .reveal ul {
    margin-left: 0.1em;
    margin-top: 0.2em;
}

.reveal .rendered_html h1:first-child,
.reveal .rendered_html h2:first-child,
.reveal .rendered_html h3:first-child,
.reveal .rendered_html h4:first-child,
.reveal .rendered_html h5:first-child {
    margin-top: 0.2em;
}

div.cell.text_cell .prompt.input_prompt {
    display: none;
}

.rise-footnote {
    font-size: medium;
    line-height: 1;
    margin: 0px 0px 0px 50px;
}

.rise-midsize {
    font-size: normal;
    line-height: 1;
    margin: 3px;
}

/* raw code between ``` is too large */
.text_cell code.language-js {
    font-size: 65%;
    line-height: 1.2em;
}
