h3 {
    text-align: center;
}
#container_fibonacci {
    margin: auto;
}

#container_fibonacci svg {
    padding: 40px;
    border: solid 1px;
}

.background {
    stroke: black;
    stroke-width: 1px;
    fill: #eee;
}

rect {
    fill: none;
    stroke: #2d5dd3;
}

path {
    stroke: #888;
    stroke-width: 1px;
}

#display {
    font-size: 70%;
}

.current {
    color: black;
    font-weight: bold;
}